.formClass{
    position: absolute;
    top: 15vh;
    background-color:white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px rgb(236, 182, 132);
    
}

.bg{
    background: url(../Pictures/bg3.jpg) no-repeat ;
    width:300%;
    height: 100vh;
    
    
}
.myText{
    text-align: center;
    font-style: initial ;
}